body{
    text-align: center ;
    font-family: sans-serif;
    font-size: larger;
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=bd9e3a14de&attid=0.2&permmsgid=msg-a:r-1746572108662909870&view=fimg&disp=thd&attbid=ANGjdJ_LQIcAPWkCsbgIIwX7vk2H8Q9FGsK0qBUkPMwhZahigfi5v51Dz4PpuaiRlC1FHtPd-HhTEgY9_cQSHKVis6eVsMRZtdFbR9DfsInJ1BTiybjyUNcnqkr4io0&ats=2524608000000&sz=w1920-h901");
    background-size: cover;
    color: #ff0000;
    
  }
  
