body{
    text-align: center ;
    font-family: sans-serif;
    font-size: larger;
    background-image: url("https://drive.google.com/file/d/1oMbQJwNqTb4LeaaBqAnjzimtHetDu1y4/view");
    background-size: cover;
    color: #ff0000;
    
  }
  
